<div class="content">
    <br><br>
    <h1>Bike Fix and Flip</h1>
    <p>I've ridden bikes since I was a kid. But never learned more about them until when I started to fix them.</p>
    <h2>The UNC bike auction 2022</h2>
    <p>Back in September 2022, my sophomore year at UNC, the UNC traffic folks put on a bike auction for the bikes that were abandoned on campus over the summer. By Chapel Hill ordinance, you must either remove your bike from campus or be actively using it, or else it is at risk for impoundment. So any bikes that were left on campus with no owners registered had their locks cut and put up for auction.</p>
    <p>That's how I came into possesion of a 2022 Trek 820, size small 26" steel hardtail. It wasn't perfect; the front wheel wouldn't hold air at all. I thought, with complete and utter overconfidence, that I could fix this easy enough (without knowing anything about how to do that). Luckily, all it ended up needing was a new tube for $8, about 30 minutes of me watching a YouTube video to figure out how to do it, and actually doing it. After all, I had a beautiful, modern hardtail in very good condition, all for less than $140!</p>
    <app-image-carousel [images]="auctionImages" [height]="400"></app-image-carousel>
    <h2>The "gateway bikes"</h2>
    <p>Around the same time, one of my neighbors was cleaning out his garage and wanted to get rid of a few bikes: an old Trek Navigator 26" hybrid bike and a Diamondback Insight 24" kids' bike. He gave them to me for completely free, with some problems, and I thought 'for sure, I can fix these too.' It turned out, the Trek needed no parts (just adjustment, which I learned how to do using <a href="https://www.youtube.com/@parktool">Park Tool's YouTube channel</a>) and the Diamondback only needed a $10 seatpost and seat. After that, I listed the two bikes on Craigslist and OfferUp and sold them fairly quickly! After this experience, <i>I was HOOKED.</i></p>
    <app-image-carousel [images]="gatewayImages" [height]="400"></app-image-carousel>
    <h2>Learning and fixing</h2>
    <p>I began scraping the indexes on Craigslist regularly for awesome deals on good bikes that just needed some work. My first few were busts, but I slowly learned what I could fix and what would be too expensive to be worth my time. I mostly dealt with cheap department store bikes (purchased for around $30 each) and resell them for around $100 once they are perfectly working and cleaned up. Occasionally, I'd see a nicer bike come through, like a Trek or Diamondback. I started gathering more and more specialty bike tools for each job I did, and slowly grew my parts bin and skillset.</p>
    <h2>Today</h2>
    <p>I recently attended the 2023 bike auction and bought five bikes, all needing work. I actually wanted to buy more, but they wouldn't physically fit in my small Nissan Leaf hatchback, despite buying a bike carrier! I continue to fix and flip bikes for as long as the supply lasts. It really dries up in the colder months, but during the warmer months there is plenty to go around. I enjoy turning a wrench and solving problems, and hope to continue doing this for as long as I have interest (and money)!</p>
    <app-image-carousel [images]="bikeImages" [height]="440"></app-image-carousel>
    <br><a [routerLink]="['/interests']" mat-raised-button color="primary">
        <mat-icon>lightbulb</mat-icon>
        Back to all interests
    </a><br><br>
    <app-footer></app-footer>
</div>