<mat-sidenav-container *ngIf="isMobile">
    <mat-sidenav #menu mode="over" [fixedInViewport]="true" class="sidenav">
        <button mat-icon-button (click)="menu.close()">
            <mat-icon>menu</mat-icon>
        </button>
        <ul class="nav-list">
            <li class="side-item">
                <a href="/" mat-button>
                    <mat-icon class="nav-icon">home</mat-icon>
                    Home
                </a>
            </li>
            <li class="side-item">
                <a href="/about" mat-button>
                    <mat-icon class="nav-icon">info</mat-icon>
                    About
                </a>
            </li>
            <li class="side-item">
                <a mat-button [mat-menu-trigger-for]="mobileinterestsmenu">
                    <mat-icon class="nav-icon">lightbulb</mat-icon>
                    Interests
                </a>
                <mat-menu #mobileinterestsmenu="matMenu">
                    <a mat-menu-item href="/interests"><mat-icon>lightbulb</mat-icon>All interests</a>
                    <a mat-menu-item href="/interests/programming"><mat-icon>terminal</mat-icon>Programming</a>
                    <a mat-menu-item href="/interests/gamedev"><mat-icon>videogame_asset</mat-icon>Game development</a>
                    <a mat-menu-item href="/interests/bikefix"><mat-icon>build</mat-icon>Bike fix and flip</a>
                    <a mat-menu-item href="/interests/cycling"><mat-icon>directions_bike</mat-icon>Cycling and MTB</a>
                </mat-menu>
            </li>
            <li class="side-item">
                <a href="/classes" mat-button>
                    <mat-icon class="nav-icon">menu_book</mat-icon>
                    Classes
                </a>
            </li>
        </ul>
        <div class="sidenav-close-container">
            <button (click)="menu.close()" class="sidenav-close"></button>
        </div>
    </mat-sidenav>
</mat-sidenav-container>
<div class="nav-root">
    <ul class="nav-list">
        <li class="nav-item" *ngIf="isMobile">
            <button mat-icon-button aria-label="Menu" (click)="menu.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </li>
        <li class="nav-item">
            <a href="/" style="padding: 8px;">
                <img src="/assets/gc161.png" style="height: 36px;" alt="Logo of GC 161 site">
            </a>
        </li>
        <div *ngIf="!isMobile">
            <li class="nav-item">
                <a href="/about">
                    <mat-icon class="nav-icon">info</mat-icon>
                    About
                </a>
            </li>
            <li class="nav-item">
                <a [mat-menu-trigger-for]="interestsmenu">
                    <mat-icon class="nav-icon">lightbulb</mat-icon>
                    Interests
                </a>
                <mat-menu #interestsmenu="matMenu">
                    <a mat-menu-item href="/interests"><mat-icon>lightbulb</mat-icon>All interests</a>
                    <a mat-menu-item href="/interests/programming"><mat-icon>terminal</mat-icon>Programming</a>
                    <a mat-menu-item href="/interests/gamedev"><mat-icon>videogame_asset</mat-icon>Game development</a>
                    <a mat-menu-item href="/interests/bikefix"><mat-icon>build</mat-icon>Bike fix and flip</a>
                    <a mat-menu-item href="/interests/cycling"><mat-icon>directions_bike</mat-icon>Cycling and MTB</a>
                </mat-menu>
            </li>
            <li class="nav-item">
                <a href="/classes">
                    <mat-icon class="nav-icon">menu_book</mat-icon>
                    Classes
                </a>
            </li>
        </div>
    </ul>
</div>