<div class="nav-root">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="/" style="padding: 8px;">
                <img src="assets/gc161.png" style="height: 36px;">
            </a>
        </li>
        <li class="nav-item">
            <a href="/about">
                <mat-icon class="nav-icon">info</mat-icon>
                About
            </a>
        </li>
        <li class="nav-item">
            <a href="/interests">
                <mat-icon class="nav-icon">lightbulb</mat-icon>
                Interests
            </a>
        </li>
        <li class="nav-item">
            <a href="/classes">
                <mat-icon class="nav-icon">menu_book</mat-icon>
                Classes
            </a>
        </li>
    </ul>
</div>