<div class="content">
    <br><br>
    <h1>Programming</h1>
    <p>Ever since I was a kid, I have wanted to be able to create the cool apps and websites I used so heavily. In middle school, I was finally able to get a taste of programming and seeing what <i>I</i> can make the computer do.</p>
    <h2>A brief history</h2>
    <h3>The FreeBASIC days</h3>
    <p></p>
    <app-image-carousel [images]="cgixeosImages"></app-image-carousel>
    <h3>Today</h3>
    <br>
    <a mat-raised-button color="primary" href="https://cgixe.dynu.net">
        <mat-icon>open_in_new</mat-icon>
        Visit my Digital Archives site
    </a>
</div>