<div class="content">
    <br><br>
    <h1>Programming</h1>
    <p>Ever since I was a kid, I have wanted to be able to create the cool apps and websites I used so heavily. In middle school, I was finally able to get a taste of programming and seeing what <i>I</i> can make the computer do.</p>
    <h2>A brief history</h2>
    <h3>The FreeBASIC days</h3>
    <p>When I first began coding, I head about BASIC as an easy, beginner-friendly language that was taught in the 80s. So, I decided to look up a BASIC tutorial on YouTube and found a great series about FreeBASIC. Of course, it was console only, but it was a great start. While my code was terrible by today's standards, it introduced me to the world of programming. I made tons of little utilities and "fun" games, like a mock operating system and a Pokemon knockoff.</p>
    <app-image-carousel [images]="cgixeosImages" [height]="318"></app-image-carousel>
    <h3>Beyond BASIC</h3>
    <p>Around the same time, I also experimented using BASIC in other applications that supported it. I created VBA scripts for Excel and small Visual BASIC apps using Visual Studio (.NET). Visual Studio gave me a great taste of how to make GUI applications, because up to that point I could only create apps in the terminal.</p>
    <h3>Visual C#</h3>
    <p>I soon noticed that the support for BASIC-flavored languages was few and far between, so I began my search for a more modern, well supported language. Since I was already using Visual Studio, I poked around in the project templates and found several for Visual C#, which seemed to be the "main" template you should use. Using several YouTube tutorials, I made quick work of translating my previous projects into C#. I didn't use the conventions, of course, because I didn't know they existed!</p>
    <h3>Java</h3>
    <p>While taking a computer science course in high school, our primary language was Java. It was quite similar to C# (I later learned that Microsoft basically copied Java), so I had little trouble picking it up. I had a brief period where all my apps were in Java, and I also created Minecraft server plugins.</p>
    <h3>Pure web development</h3>
    <p>Taking a side-road, I wanted to learn how to create basic web pages. I used W3schools' tutorials on HTML, CSS, and JavaScript to start making my own simple websites. I realized that web apps are a really great way to prototype applications, because you can simply write code and run it in ANY browser! I also used this in school were we definitely did not have access to a compiler. Web development allowed me to create tons of little tools I wouldn't have created otherwise.</p>
    <app-image-carousel [images]="webImages" [height]="426"></app-image-carousel>
    <h3>Unity</h3>
    <p>With my new knowledge of C#, I was finally enabled to create full-fledged (relatively speaking) games using Unity! Unity is a popular game engine which supports the creation of both 3D and 2D games. I really enjoyed YouTuber <i>Brackeys</i> tutorials and followed them to create my own simple games.</p>
    <app-image-carousel [images]="unityImages" [height]="331"></app-image-carousel>
    <h3>Today</h3>
    <p>Today, I have picked up a number of languages and technology stacks that I have at least some competence in. From most recently to least:</p>
    <ul style="text-align: left;">
        <li>Angular, Sass, TypeScript</li>
        <li>C</li>
        <li>Golang</li>
        <li>Python</li>
        <li>HTML, CSS, JavaScript</li>
        <li>Java</li>
        <li>C#, Unity</li>
        <li>BASIC</li>
    </ul>
    <br>
    <p>Want to see all of my projects throughout the years? View my Digital Archives site:</p>
    <a mat-raised-button color="primary" href="https://cgixe.dynu.net">
        <mat-icon>open_in_new</mat-icon>
        Visit my Digital Archives site
    </a><br><br>
    <app-footer></app-footer>
</div>