<div class="content">
    <br><br>
    <h1>Interests</h1>
    <p>A little bit about some of the things I'm interested in. Each item is linked to a sub-page where you can read more!</p>
    <mat-divider></mat-divider><br>
    <h2>Programming <a class="link-out" mat-mini-fab color="primary" href="/interests/programming"><mat-icon>open_in_new</mat-icon></a></h2>
    <p>I first learned how to program in middle school. My first language was FreeBASIC, a version of Microsoft qBASIC compiled for Windows. Throughout the years, I've created dozens of apps, utilities, and other programs to help me and those around me in some small way.</p>
    <h2>Game development <a class="link-out" mat-mini-fab color="primary" href="/interests/gamedev"><mat-icon>open_in_new</mat-icon></a></h2>
    <p>Everyone's played games, but creating them is something else. I enjoy creating games, especially in the context of game jams or competitions. Having some kind of arbitrary constraint, like a theme or a time limit, encourages me to finish the game and polish it as well as I can.</p>
    <h2>Bike fix and flip <a class="link-out" mat-mini-fab color="primary" href="/interests/bikefix"><mat-icon>open_in_new</mat-icon></a></h2>
    <p>In 2022, I fixed up a bike for the first time after buying one from the UNC bicycle auction. After realizing I could do this (and what a crazy steal of a deal I got!), I was hooked and have since been buying bikes that need work and fixing them to be sold on to a good home.</p>
    <h2>Cycling and MTB <a class="link-out" mat-mini-fab color="primary" href="/interests/cycling"><mat-icon>open_in_new</mat-icon></a></h2>
    <p>I enjoy cycling with friends and family as well as learning new skills (and doing crazy things) with my mountain bike.</p>
</div>