<div class="content">
    <br><br>
    <h1>Interests</h1>
    <p>A little bit about some of the things I'm interested in. Each item is linked to a sub-page where you can read more!</p>
    <mat-divider></mat-divider><br>
    <h2>Programming <a class="link-out" mat-mini-fab color="primary" [routerLink]="['/interests/programming']"><mat-icon>open_in_new</mat-icon></a></h2>
    <p>I first learned how to program in middle school. My first language was FreeBASIC, a version of Microsoft qBASIC compiled for Windows. Throughout the years, I've created dozens of apps, utilities, and other programs to help me and those around me in some small way.</p>
    <h2>Bike fix and flip <a class="link-out" mat-mini-fab color="primary" [routerLink]="['/interests/bikefix']"><mat-icon>open_in_new</mat-icon></a></h2>
    <p>In 2022, I fixed up a bike for the first time after buying one from the UNC bicycle auction. After realizing I could do this (and what a crazy steal of a deal I got!), I was hooked and have since been buying bikes that need work and fixing them to be sold on to a good home.</p>
    <h2>Cycling and MTB <a class="link-out" mat-mini-fab color="primary" [routerLink]="['/interests/cycling']"><mat-icon>open_in_new</mat-icon></a></h2>
    <p>I enjoy cycling with friends and family as well as learning new skills (and doing crazy things) with my mountain bike.</p>
    <mat-divider></mat-divider><br>
    <h2>The Desert Island question</h2>
    <p>If I could bring any ten items to a desert island where I would be stranded, what would they be?</p>
    <ol style="text-align: left;">
        <li><b>Multitool.</b> Don't underestimate a good multitool. I love my Swiss Army knife.</li>
        <li><b>Bucket.</b> For collecting rainwater. Don't want to dehydrate!</li>
        <li><b>A large net.</b> Maybe for catching fish, or for building a shelter.</li>
        <li><b>Durable shoes.</b> I might need to climb a tree or something. These shoes should last a while.</li>
        <li><b>Rope / paracord.</b> For building things like shelters.</li>
        <li><b>First aid kit.</b> Just in case. I will probably need it.</li>
        <li><b>Axe.</b> Cut trees and things.</li>
        <li><b>Duct tape.</b> A great all-round bandaid fix.</li>
        <li><b>Long-lasting firestarter, like flint and steel.</b></li>
        <li><b>Survival manual.</b> I can't remember how to do this stuff! I need this manual.</li>
    </ol>
    <app-footer></app-footer>
</div>