<div class="content">
    <img src="./assets/gc161.png" alt="Logo of GC 161 website" class="header-image">
    <p>Angular site for INLS 161 at UNC-CH | created by Gabrian Chua</p>
    <mat-divider></mat-divider><br>
    <p>Welcome to <i>oneSIXone</i>, a site all about me, created for INLS 161 at the University of North Carolina at Chapel Hill. INLS stands for Information and Library Sciences, but it is so much more than that! Feel free to explore this site and learn more about me.</p>
    <h2>Features</h2>
    <p>Some special features I've included in this site include:</p>
    <ul class="left-align">
        <li><b>Angular.</b> Angular is ia modern web framework that allows highly flexible and efficient website design and creation. I like it especially for its ability to create modular "components" which you can re-use all across your site. For example, the navbar component and the footer component is re-usable, meaning one edit to that component propagates across the site (no need to copy and paste across all pages anymore!).</li>
        <li><b>Responsive design.</b> I used Angular's BreakpointObserver to observe the size of your screen and change the site's style accordingly. If you are on a sufficiently small screen, the site will switch to "mobile" layout: the navbar is minimized into a hamburger menu and the content takes up 100% of the width. Otherwise, the site takes on the "desktop" layout: the navbar is expanded and the width of the content is minimized to at most 800 px, or 60% of the view width, whichever is smaller.</li>
        <li><b>Angular Material.</b> Angular Material is a popular library by Google that implements Material Design into your site and makes many prewritten and configurable components available for use, like buttons, drawers, drop-downs, and more. You can find the list of components <a href="https://material.angular.io/components/categories">at the documentation page.</a></li>
        <li><b>Angular Animations</b>  I enabled and wrote a few simple animations to make the UI a little bit smoother. Examples include the drop down menu in the navbar and the hamburger menu in mobile mode.</li>
        <li><b>Image carousel component.</b> I custom-wrote a simple image carousel to showcase the pictures I wanted to show in a compact and elegant way.</li>
    </ul>
    <mat-divider></mat-divider><br>
    <h2>Popular Locations</h2>
    <a mat-raised-button color="primary" [routerLink]="['/about']" class="location-link">
        <h3><b>About</b></h3>
        <i>Learn more about me!</i> A short bio about me as well as links to my sites.
    </a><br><br>
    <a mat-raised-button color="primary" [routerLink]="['/interests']" class="location-link">
        <h3><b>Interests</b></h3>
        <i>Learn about the things I like to do!</i> A list of some of my interests and short descriptions for each.
    </a><br><br>
    <a mat-raised-button color="primary" [routerLink]="['/classes']" class="location-link">
        <h3><b>Classes</b></h3>
        <i>Learn about the courses I'm in!</i> A list of the classes I'm taking at UNC in Fall 2023.
    </a><br><br>
    <a mat-raised-button color="primary" href="https://github.com/gchuaunc/inls161site" class="location-link">
        <h3><b>GitHub</b><mat-icon class="location-link-icon">open_in_new</mat-icon></h3>
        <i>Look at the code for this site!</i> This is the GitHub repository for this site! Feel free to take a look at the code.
    </a><br><br>
    <app-footer></app-footer>
</div>