.content {
    width: 100%;
    padding: 0.2em;
    text-align: center;
}
.header-image {
    width: 80%;
}
.left-align {
    text-align: left;
}
.location-link {
    height: fit-content;
}
.location-link-icon {
    transform: translate(5px, 5px);
}