<div class="content">
    <br><br>
    <h1>Classes</h1>
    <p>A list of the classes I'm taking this semester, Fall 2023, and short descriptions of each class. Expand the panels below for the description and a link to the catalog page.</p>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            INLS 161
        </mat-panel-title>
        <mat-panel-description>
            Tools for Information Literacy
        </mat-panel-description>
        </mat-expansion-panel-header>
        <p>That is this class of course! I am creating this site for INLS 161: Tools for Information Literacy. We cover GNU/Linux/Unix, website design, and Microsoft Office products like Word, PowerPoint, and Excel. These are critical tools that are necessary in nearly all fields of IT and beyond, so I am glad this content is being taught. Plus, this class is one of the requirements for the Information Systems minor!</p>
        <a mat-fab color="primary" class="link-out" href="https://catalog.unc.edu/search/?search=inls+161"><mat-icon>open_in_new</mat-icon></a>
    </mat-expansion-panel><br>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            INLS 201
        </mat-panel-title>
        <mat-panel-description>
            Foundations of Information Science
        </mat-panel-description>
        </mat-expansion-panel-header>
        <p>INLS 201: Foundations of Information Science is a really great general education class that also fulfills a requirement for the Information Systems minor. It really challenges your thinking about certain concepts in information science since it redefines several things you thought were true about information, data, etc.</p>
        <a mat-fab color="primary" class="link-out" href="https://catalog.unc.edu/search/?search=inls+201"><mat-icon>open_in_new</mat-icon></a>
    </mat-expansion-panel><br>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            STOR 120
        </mat-panel-title>
        <mat-panel-description>
            Foundations of Statistics and Data Science
        </mat-panel-description>
        </mat-expansion-panel-header>
        <p>STOR 120: Foundations of Statistics and Data Science is a core requirement for the Data Science minor. It is a friendly class but one that goes quite in depth. Our data analysis language is Python, but others that were mentioned include R, Tableau, and Excel. We make heavy use the datascience library and the numpy library.</p>
        <a mat-fab color="primary" class="link-out" href="https://catalog.unc.edu/search/?search=stor+120"><mat-icon>open_in_new</mat-icon></a>
    </mat-expansion-panel><br>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            COMP 311
        </mat-panel-title>
        <mat-panel-description>
            Computer Organization
        </mat-panel-description>
        </mat-expansion-panel-header>
        <p>COMP 311: Computer Organization is a late class in the Computer Science major program introductory sequence which gets into the weeds about computer organization. It's very low level, starting with transistors, moving to logic gates, then combinational logic circuits, and then sequential logic circuits, then a very simple processor, and finally ending with MIPS, which is a real RISC instruction set architecture.</p>
        <a mat-fab color="primary" class="link-out" href="https://catalog.unc.edu/search/?search=comp+311"><mat-icon>open_in_new</mat-icon></a>
    </mat-expansion-panel><br>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            COMP 550
        </mat-panel-title>
        <mat-panel-description>
            Algorithms and Analysis
        </mat-panel-description>
        </mat-expansion-panel-header>
        <p>COMP 550: Algorithms and Analysis is all about theory and proofs. Write an algorithm, but it's useless unless you can prove it's correct, mathematically. This is different from what we're used to: writing code and then writing a ton of testcases to make sure it behaves correct. But a rigorous proof is a great way to prove an algorithm is 100% correct.</p>
        <a mat-fab color="primary" class="link-out" href="https://catalog.unc.edu/search/?search=comp+311"><mat-icon>open_in_new</mat-icon></a>
    </mat-expansion-panel><br>
    <app-footer></app-footer>
</div>